#headerDiv {
  margin: 8px;
}

.bottom-container {
  margin-top: 8px;
}

.carouselImage {
  max-width: 100%;
}

.carousel-caption h5 {
  color: white;
}

.carousel-caption p {
  color: white;
}

.myTextDescriptions {
  font-size: 1.25rem;
  font-weight: 300;
}

h3 {
  font-size: 1.25rem;
  font-weight: 400;
}

#contactPageTitle {
  font-weight: 300;
}

h2 {
  font-weight: 300;
}
p {
  font-size: 1.25rem;
  font-weight: 300;
}
